{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Acerca de Nosotros</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bienvenidos a Macus Shop!</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    Soy Macarena, de Buenos Aires, Argentina. 
                    <br> Soy abogada y esta es mi primera experiencia incursionando en el mundo IT.
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}
