{% extends 'base.html' %}
{% block content %}
<div class="container-sm">
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.image.url}}" alt="..." /></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                        <div class="fs-5 mb-5">
                            <span>${{product.price}}</span>
                        </div>
                        <p class="lead">{{product.description}}</p>
                        <div class="d-flex gap-2">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button" value=" {{ product.id}} " id="add-shopping-cart">
                                <i class="bi-cart-fill me-1"></i>
                                Agregar al Carrito
                            </button>
                            {% if user.is_staff %}
                            <form action="{% url 'update_product' product.id %}" method="GET">
                                {% csrf_token %}
                                <button class="btn btn-warning">Modificar</button>
                            </form>                            
                            <form onsubmit="return confirm('Esta seguro de querer eliminar {{product.name}}?');" action="{% url 'delete_product' product.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger">Eliminar</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Product section-->
        <section class="py-5">
            <div class="container mt-5">
                <div class="row  d-flex justify-content-center">
                  <div class="col-md-8">
                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                      <h5>Comentarios</h5>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="card p-3">
                        <form method="POST" action=" {% url 'new_comment' product.id %} ">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <button type="submit" class="btn btn-secondary">Comentar</button>
                            <br><br>
                        </form>
                    </div>
                    {% endif %}
                    {% if not comments_len %}
                    Aun no hay comentarios{% if user.is_authenticated %}, se el primero en comentar!{% endif %}
                    {%endif%}
                    {% for comment in comments %}
                    <div class="card p-3">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center">
                          <span>
                            <small class="font-weight-bold text-primary">{{comment.user}}</small> 
                            <small class="font-weight-bold">:&nbsp;{{comment.comment_content}}</small>
                          </span>
                        </div>
                        <small>{{comment.date}}</small>
                      </div>
                      {% if user.is_authenticated and user.is_staff %}
                      <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="font-weight-bold">
                          <a href="{% url 'remove_comment' comment.id %}"><small>Remove</small></a>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
        </section>
</div>

<script>
$(document).on('click','#add-shopping-cart',function(e) {
    e.preventDefault()
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data: {
            product_id: $('#add-shopping-cart').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        }
    ,
    success: function(json){
        console.log(json)
        document.getElementById('cart_qty').textContent = json['cart_quantity']
    },

    error: function (xhr, errmsg, err){
        
    }
    })
});
</script>

{% endblock %}
